BASE_URL = 
APP_USERNAME = 
PASSWORD = 

# users api
USER_API_BASE_URL = 
API_TOKEN = 

# Booking API
API_BASE_URL = 
BOOKER_API_BASE_URL = 
BOOKING_API_TOKEN = 

//OAuth2Spotify
OAUTH_CLIENT_ID = 
OAUTH_CLIENT_SECRET = 
GRANT_TYPE = 